@import "./Helpers.scss";
@import "./Mixins.scss";

// Kanit font
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap");

// Montserrat font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&display=swap");
.App {
  text-align: center;
  font-family: "Colfax";
  height: 100vh;
  padding: 0 100px;
  font-family: Montserrat, sans-serif;
}

iframe {
  display: none;
}

header {
  span {
    font-family: "Kanit", sans-serif;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #d92026;
  }
  height: 100px;
  padding: 20px 0;
}

button {
  font-family: "Montserrat", sans-serif;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #231f20;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  &:hover {
    background-color: #d92026;
    border-color: #d92026;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.logo-container {
  > div {
    border: 1px solid #e8e6e6c8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -2px -2px 8px #e8e6e6c8;
    position: relative;
  }
}

img {
  transition: 3s ease;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

input {
  height: 40px;
  font-size: 18px;
  padding: 0 10px;
  margin-right: 5px;
  &:focus-visible {
    outline: none;
    border: 1px solid #d92026;
  }
}
