$sides: (top, bottom, left, right);

$pixel: 0;
@while $pixel <= 200 {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$pixel} {
      margin-#{$side}: #{$pixel}px !important;
    }

    .m-a-#{$pixel} {
      margin: #{$pixel}px !important;
    }

    .-m-#{str-slice($side, 0, 1)}-#{$pixel} {
      margin-#{$side}: -#{$pixel}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$pixel} {
      padding-#{$side}: #{$pixel}px !important;
    }

    .p-a-#{$pixel} {
      padding: #{$pixel}px !important;
    }
  }
  .font-size-#{$pixel} {
    font-size: #{$pixel}px !important;
  }

  .line-height-#{$pixel} {
    line-height: #{$pixel}px !important;
  }
  $pixel: $pixel + 1;
}

@each $side in $sides {
  .border-#{str-slice($side, 0, 1)} {
    border-#{$side}: 1px solid;
  }

  .border {
    border: 1px solid;
  }
}

//TYPOGRAPHY
.text-bold {
  font-weight: 600 !important;
}

.text-left-align {
  text-align: left;
}

.text-right-align {
  text-align: right;
}

.text-center-align {
  text-align: center;
}

//LAYOUT

.fill-width {
  width: 100% !important;
}

.fill-height {
  height: 100% !important;
}

.margin-auto {
  margin: auto !important;
}
.m-t-a {
  margin-top: auto !important;
}
.m-b-a {
  margin-bottom: auto !important;
}
.m-l-a {
  margin-left: auto !important;
}
.m-r-a {
  margin-right: auto !important;
}

.cursor-pointer {
  cursor: pointer;
}

.opacity100 {
  opacity: 1;
}

.opacity0 {
  opacity: 0;
}

.asLink {
  text-decoration: underline;
  font-weight: 500;
  transition: 0.3s;
  width: fit-content;
  text-align: center;
  margin: 20px auto;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    text-decoration-color: #d92026;
  }
}
